.main
  .main__header
    .main__header__information
      %p.main__header__information__name
        #{@group.name}
      %p.main__header__information__member 
        Member :
        - @group.users.each do |u|
          =u.name
    =link_to edit_group_path(@group) ,class:"group__information__edit" do
      Edit

  .main__center
    = render @messages

      
  .main__footer
    = form_with model: [@group, @message], html: {class: "main__footer__input"}, local: true do |f|
      .main__footer__input-form
        = f.text_field :content, class: 'message', placeholder: 'type a message'
        = f.label :image, class: 'picture-label' do
          = icon('far', 'image', class: 'form__picture__icon')
          = f.file_field :image, class: 'form__picture'
      = f.submit 'Send', class: 'main__footer__form-button'

    -#   .main__footer__input-form
    -#   %input.message{placeholder: "type a message"}
    -#   %label{class: "picture-label"}
    -#     %i.far.fa-image
    -#     %input.form__picture{type: "file"} 
    -# .main__footer__form-button Send